.imgPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27rem;
}

.imagem {
    background-image: url(../imgs/imgPrincipal.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4) drop-shadow(0 4px 6px rgba(0, 0, 0, 0.234));
}

.perfume-title {
    position: absolute;
    top: 65%;
    left: 5%;
    right: 5%;
    width: auto;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: left;
    z-index: 10;
}

@media (max-width: 768px) {
    .imgPrincipal {
        height: 20rem;
    }

    .perfume-title {
        font-size: 1rem;
        top: 40%;
    }
}

@media (max-width: 480px) {
    .imgPrincipal {
        height: 15rem;
    }

    .perfume-title {
        font-size: 1.5rem;
    }
}
