.navbar {
    position: relative;
    z-index: 1000;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    margin: 10px;
}

.bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000000;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    top: 10px;
}

.bar:nth-child(3) {
    top: 20px;
}

.menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

.nav-links {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: rgb(84, 0, 0);
    border-radius: 5px;
    transition: max-height 0.3s ease-in-out;
}

.navbar.open .nav-links {
    display: block;
    max-height: 300px;
}

.nav-links li {
    text-align: center;
    padding: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.nav-links li:hover {
    background-color: #2e0000;
    transition: 70ms ease-in-out;
}
