:root {
    --red: rgb(166, 31, 31);
    --green: rgb(15, 116, 15);
    --yellow: rgb(202, 202, 0);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(140deg, var(--red), #4b0000);
    border-bottom: double 7px var(--green);
    color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    margin-bottom: 10px;
}

.title {
    font-size: 2em;
}

.catalog {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    padding: 10px;
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 0.9em;
    color: #666;
}

footer {
    background: linear-gradient(140deg, var(--red), #4b0000);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

/* Ajustes responsivos para dispositivos menores */

@media (max-width: 768px) {
    .product {
        width: 120px;
    }

    .logo {
        width: 40px;
    }

    .title {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .product {
        width: 120px;  
    }

    .title {
        font-size: 1.2em;
    }

    .logo {
        width: 35px;
    }
}
